from kafka import KafkaProducer
import requests
import json
import os
import time
import traceback

# Get the API key from the environment variable
API_KEY = os.getenv('NEWS_API_KEY')

if not API_KEY:
    raise ValueError("API key not found in .env file")
URL = f'https://newsapi.org/v2/top-headlines?country=us&apiKey={API_KEY}'
# ⚙️ Kafka producer setup
producer = KafkaProducer(
    bootstrap_servers='{{ kafka_broker }}',  # Change if Kafka is on a different host
    value_serializer=lambda v: json.dumps(v).encode('utf-8')
)

def fetch_news():
    try:
        response = requests.get(URL)
        if response.status_code == 200:
            return response.json().get("articles", [])
        else:
            print(f"Error: {response.status_code} - {response.text}")
            return []
    except Exception as e:
        print(f"Exception occurred while fetching news: {e}")
        return []

def stream_news():
    print("📡 Starting NewsAPI -> Kafka producer...")
    while True:
        articles = fetch_news()
        for article in articles:
            producer.send('{{ kafka_topic }}', article)
        print(f"✅ Sent {len(articles)} articles to Kafka topic 'news-stream'.")
        time.sleep(1800)  # Sleep for 30 minutes before fetching again
        
if __name__ == '__main__':
    stream_news()
