[Unit]
Description=Apache Kafka Server
Requires=zookeeper.service
After=zookeeper.service
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_install_dir }}/config/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
