[Unit]
Description=Apache ZooKeeper Server
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
ExecStart={{ kafka_install_dir }}/bin/zookeeper-server-start.sh {{ kafka_install_dir }}/config/zookeeper.properties
ExecStop={{ kafka_install_dir }}/bin/zookeeper-server-stop.sh
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
